# When adding additional environment variables, the schema in "/src/env.js"
# Should be updated accordingly.

# Get better auth secret:
# https://www.better-auth.com/docs/installation
# Then go a little down to the generate secret button.

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

NEXT_PUBLIC_SOCKET_URL=""

RESEND_API_KEY=""
RESEND_EMAIL_FROM=""

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="test"
POSTGRES_DATABASE="geoprofs"
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:test@localhost:5432/geoprofs"

NODE_ENV="development"